a {
  text-decoration: none;
  color: #ddd;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-title {
  padding-block: 1.5rem;
  font-size: 1.6rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.sidebar {
  width: 100%;
  text-align: center;
}

.sidebar li {
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
}

.sidebar li i {
  margin-inline: 1rem;
}

.sidebar li:hover,
.sidebar li:active {
  background: #ddd;
}

.sidebar .line {
  display: block;
  background: #333;
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding-bottom: 1px;
}

.content {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}

.content .item {
  display: grid;
  grid-template-columns: 40px 200px 10px;
  padding: 1rem;
  background-color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.item .item_delete:hover,
.item .item_delete:active {
  cursor: pointer;
  opacity: 0.75;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif")
    50% 50% no-repeat rgb(249, 249, 249);
}

.error {
  color: red;
  font-weight: normal;
}

@media (min-width: 40rem) {
  #main {
    flex-direction: row;
    align-items: flex-start;
  }

  .sidebar {
    width: 100px;
  }

  .sidebar li i {
    display: block;
    margin-block: 1rem;
  }

  .sidebar .line {
    display: none;
  }

  .content {
    justify-content: flex-start;
  }
}
